pandas
scikit-learn
nltk
spacy
flask
streamlit
matplotlib
seaborn
joblib
PyPDF2
python-docx
wordcloud
spacy
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1.tar.gz
